@page
@model IndexModel
@inject UserManager<ApplicationUser> _userManager;
@inject FoodDotNgDbContext _context;
@{
    ViewData["Title"] = "Home page";
    var categories = _context.ArticleCategories.ToList();
}

<style>
    .catImages {
        max-height: 300px;
        height: 250px;
        width: fit-content;
        width: max-content;
        object-fit: cover;
        width: 100%;
    }

    .widthFit {
        width: fit-content;
        width: max-content;
        width:100%;
    }
</style>


@if (Model.SliderArticles == null || Model.SliderArticles.Count <= 0)
{
    <h5 style="text-align:center;">Something went wrong. Please try again</h5>
}

else
{
<!-- ****** Welcome Post Area Start ****** -->
<section class="welcome-post-sliders owl-carousel">


    <!--Slider Articles-->
    @foreach (var slider in Model.SliderArticles)
    {
        var userr = await _userManager.FindByIdAsync(slider.AuthorId);
        <!-- Single Slide -->
        <div class="welcome-single-slide">
            <!-- Post Thumb -->
            <img class="widthFit" height="500px" style="object-fit:cover;" src="@slider.ImageUrl" alt="">
            <!-- Overlay Text -->
            <div class="project_title">
                <div class="post-date-commnents d-flex">
                    <a href="#">@slider.DateCreated.ToShortDateString()</a>
                    <a href="#">@userr.UserName</a>
                </div>
                <a href="/BlogPost/@slider.Id">
                    <h5>@slider.Name</h5>
                </a>
            </div>
        </div>
    }
</section>
}
<!-- ****** Welcome Area End ****** -->
<!-- ****** Categories Area Start ****** -->
<section class="categories_area clearfix" id="about">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_catagory wow fadeInUp" data-wow-delay=".2s">
                    <img class="catImages" src="https://res.cloudinary.com/food-ng/image/upload/f_auto,q_32/v1592869640/g8ctpecjb9jsumz61gtl.jpg" alt="Recipes">
                    <div class="catagory-title">
                        <a href="/Recipes">
                            <h5>Recipes</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_catagory wow fadeInUp" data-wow-delay=".2s">
                    <img class="catImages" src="https://res.cloudinary.com/food-ng/image/upload/f_auto,q_36/v1592829313/em8dullkkn77wgu0kqt6.jpg" alt="Events">
                    <div class="catagory-title">
                        <a href="/Events">
                            <h5>Events</h5>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_catagory wow fadeInUp" data-wow-delay=".2s">
                    <img class="catImages" src="https://res.cloudinary.com/food-ng/image/upload/f_auto,q_32/v1592702018/gabvz2myrtmc5dy0spru.jpg" alt="Ngerian Dishes">
                    <div class="catagory-title">
                        <a href="/ContentList/?pageName=Nigerian Dishes">
                            <h5>Nigerian Dishes</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** Categories Area End ****** -->
<!-- ****** Blog Area Start ****** -->
<section class="blog_area section_padding_0_80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <!--Main Interview-->
                    @if (Model.InterviewArticle == null)
                    {
                        <h5>Nothing to show, Something went wrong somewhere. Please try again</h5>
                    }

                    else
                    {
                        <!-- Single Post --> <!--Major Interview-->
                        <div class="col-12">
                            <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                                <!-- Post Thumb -->
                                <div class="post-thumb">
                                    <img class="widthFit" height="500px" style="object-fit:cover;" src="@Model.InterviewArticle.ImageUrl" alt="">
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-meta d-flex">
                                        <div class="post-author-date-area d-flex">
                                            <!-- Post Author -->
                                            <div class="post-author">
                                                @{
                                                    var user = await _userManager.FindByIdAsync(Model.InterviewArticle.AuthorId);
                                                }
                                                <a href="#">@user.UserName</a>
                                            </div>
                                            <div class="post-author">
                                                <a href="ContentList/?pageName=Interview">Interview</a>
                                            </div>
                                            <!-- Post Date -->
                                            <div class="post-date">
                                                @{
                                                    var dateList = Model.InterviewArticle.DateCreated.ToLongDateString().Split(",");
                                                }
                                                <a href="#">@dateList[1] , @dateList[2]</a>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="/BlogPost/@Model.InterviewArticle.Id">
                                        <h2 class="post-headline">@Model.InterviewArticle.Name</h2>
                                    </a>
                                    <p>@Html.Raw(Model.InterviewArticle.ArticlePost.Substring(0, 200)) ...</p>
                                    <a href="/BlogPost/@Model.InterviewArticle.Id" class="read-more">Continue Reading..</a>
                                </div>
                            </div>
                        </div>

                    }

                    <!--Recipes-->
                    @if (Model.IndexRecipe == null || Model.IndexRecipe.Count <= 0)
                    {
                        <h5>Something Went wrong somewhere. Please try again</h5>
                    }
                    else
                    {
                        @foreach (var post in Model.IndexRecipe)
                        {
                            <!-- Single Post -->
                            <div class="col-12 col-md-6">
                                <div class="single-post wow fadeInUp" data-wow-delay=".4s">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <img class="widthFit" height="200px" style="object-fit:cover" src="@post.ImageUrl" alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <div class="post-meta d-flex">
                                            <div class="post-author-date-area d-flex">
                                                <!-- Post Author -->
                                                <div class="post-author">
                                                    @{
                                                        var usser = await _userManager.FindByIdAsync(post.AuthorId);
                                                    }
                                                    <a href="#">@usser.UserName</a>
                                                </div>
                                                <div class="post-author">
                                                    <a href="#">Recipe</a>
                                                </div>
                                                <!-- Post Date -->
                                                <div class="post-date">
                                                    @{
                                                        var dateStuff = post.DateCreated.ToLongDateString().Split(",");
                                                    }
                                                    <a href="#">@dateStuff[1], @dateStuff[2]</a>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/BlogPost/@post.Id">
                                            <h4 class="post-headline">@post.Name</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        }

                    }

                    <!--Events-->
                    @if (Model.IndexEvents == null || Model.IndexEvents.Count <= 0)
                    {
                        <h5>Nothing to show, Something went wrong. Pleas try again</h5>
                    }
                    else
                    {
                        @foreach (var post in Model.IndexEvents)
                        {
                            <!-- Single Post -->
                            <div class="col-12 col-md-6">
                                <div class="single-post wow fadeInUp" data-wow-delay=".1s">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <img class="widthFit" height="200px" style="object-fit:cover" src="@post.ImageUrl" alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <div class="post-meta d-flex">
                                            <div class="post-author-date-area d-flex">
                                                <!-- Post Author -->
                                                <div class="post-author">
                                                    @{
                                                        var use = await _userManager.FindByIdAsync(post.AuthorId);
                                                    }
                                                    <a href="#">@use.UserName</a>
                                                </div>
                                                <div class="post-author">
                                                    <a href="#">Event</a>
                                                </div>
                                                <!-- Post Date -->
                                                <div class="post-date">
                                                    @{
                                                        var dateStuffer = post.DateCreated.ToLongDateString().Split(",");

                                                    }
                                                    <a href="#">@dateStuffer[1], @dateStuffer[2]</a>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="BlogPost/@post.Id">
                                            <h4 class="post-headline">@post.Name</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }

                    }


                    <!-- ******* List Blog Area Start ******* -->
                    <!--Some other Articles-->
                    @{ var someArticles = Model.AllArticles.Take(4).ToList(); }
                    @if (someArticles.Count <= 0 || someArticles == null)
                    {
                        <h5>Nothing to show. Something went wrong. Please try again</h5>
                    }
                    else
                    {
                        @foreach (var post in someArticles)
                        {
                            var useer = await _userManager.FindByIdAsync(post.AuthorId);
                            var category = categories.Where(c => c.Id == post.CategoryId).FirstOrDefault();

                            <!-- Single Post -->
                            <div class="col-12">
                                <div class="list-blog single-post d-sm-flex wow fadeInUpBig" data-wow-delay=".2s">
                                    <!-- Post Thumb -->
                                    <div class="post-thumb">
                                        <img class="widthFit" height="200px" style="object-fit:cover;" src="@post.ImageUrl" alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <div class="post-meta d-flex">
                                            <div class="post-author-date-area d-flex">
                                                <!-- Post Author -->
                                                <div class="post-author">
                                                    <a href="#">@useer.UserName</a>
                                                </div>
                                                <div class="post-author">

                                                    <a href="#">@category.Name</a>
                                                </div>
                                                <!-- Post Date -->
                                                <div class="post-date">
                                                    @{
                                                        var dateLists = post.DateCreated.ToLongDateString().Split(",");

                                                    }
                                                    <a href="#">@dateLists[1], @dateLists[2]</a>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/BlogPost/@post.Id">
                                            <h4 class="post-headline">@post.Name</h4>
                                        </a>
                                        <p>@Html.Raw(post.ArticlePost.Substring(0, 50))</p>
                                        <a href="/BlogPost/@post.Id" class="read-more">Continue Reading..</a>
                                    </div>
                                </div>
                            </div>

                        }

                    }


                </div>
            </div>

            <!-- ****** Blog Sidebar ****** -->
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="blog-sidebar mt-5 mt-lg-0">
                    <!-- Single Widget Area -->
                    <div class="single-widget-area about-me-widget text-center">
                        <div class="widget-title">
                            <h6>About Us</h6>
                        </div>
                        <div class="about-me-widget-thumb">
                            <img src="img/about-img/1.jpg" alt="">
                        </div>
                        <h4 class="font-shadow-into-light">FoodDotNg</h4>
                        <p>We're committed to bringing you all the beauty and happenings in the Nigerian food industry</p>
                    </div>

                    <!-- Single Widget Area -->
                    <div class="single-widget-area subscribe_widget text-center">
                        <div class="widget-title">
                            <h6>Subscribe &amp; Follow</h6>
                        </div>
                        <div class="subscribe-link">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Widget Area --> <!--Popular Post-->
                    <div class="single-widget-area popular-post-widget">
                        <div class="widget-title text-center">
                            <h6>Populer Post</h6>
                        </div>
                        @if (Model.PopularPost == null || Model.PopularPost.Count <= 0)
                        {
                            <h5>Nothing to show, Something went wrong. Please try again</h5>
                        }
                        else
                        {
                            @foreach (var post in Model.PopularPost)
                            {
                                <!-- Single Popular Post -->
                                <div class="single-populer-post d-flex">
                                    <img class="widthFit" height="150px" style="object-fit:cover" src="@post.ImageUrl" alt="">
                                    <div class="post-content">
                                        <a href="BlogPost/@post.Id">
                                            <h6>@post.Name</h6>
                                        </a>
                                        <p>@post.DateCreated.ToLongDateString()</p>
                                    </div>
                                </div>
                            }

                        }

                    </div>

                    @*Single Widget Area
                        <div class="single-widget-area add-widget text-center">
                            <div class="add-widget-area">
                                <img src="img/sidebar-img/6.jpg" alt="">
                                <div class="add-text">
                                    <div class="yummy-table">
                                        <div class="yummy-table-cell">
                                            <h2>Cooking Book</h2>
                                            <p>Buy Book Online Now!</p>
                                            <a href="#" class="add-btn">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <!-- Single Widget Area -->
                    <div class="single-widget-area newsletter-widget">
                        <div class="widget-title text-center">
                            <h6>Newsletter</h6>
                        </div>
                        <p>Subscribe our newsletter and get notification about new updates, information, etc.</p>
                        <div class="newsletter-form">
                            <form action="#" method="post">
                                <input type="email" name="newsletter-email" id="email" placeholder="Your email">
                                <button type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ****** Blog Area End ****** -->
<!-- Instagram Item -->
<div style="padding-left:20px; padding-right:20px;">
    <iframe src='https://www.juicer.io/api/feeds/mr_ackermann/iframe' frameborder='0' width='100%' height='450px'></iframe>
</div>