<!DOCTYPE html>
<html lang="en">
<head>
    @{
        @inject FoodDotNgDbContext _context;
    }


    <style>

    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodDotNg</title>


    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/others/animate.css" />
    <link rel="stylesheet" href="~/css/others/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/others/magnific-popup.css" />
    <link rel="stylesheet" href="~/css/others/meanmenu.min.css" />
    <link rel="stylesheet" href="~/css/others/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/others/pe-icon-7-stroke.css" />

    <!-- Favicon -->
    <link rel="icon" href="~/img/FoodDotNg.png">

    <!-- Core Stylesheet -->
    <link href="~/css/style.css" asp-append-version="true" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="~/css/responsive/responsive.css" rel="stylesheet">

</head>
<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="yummy-load"></div>
    </div>
    @{
        var view = ViewContext.RouteData.Values["page"].ToString();
    }

    <!-- ****** Top Header Area Start ****** -->
    <div class="top_header_area">
        <div class="container">
            <div class="row">
                <!--  Login Register Area -->
                <div class="col-7 col-sm-6">
                    <div class="signup-search-area d-flex align-items-center justify-content-end">
                        <!-- Search Button Area -->
                        <div class="search_button">
                            <a class="searchBtn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </div>
                        <!-- Search Form -->
                        <div class="search-hidden-form">
                            <form action="#" method="get">
                                <input type="search" name="search" id="search-anything" placeholder="Search Anything...">
                                <input type="submit" value="" class="d-none">
                                <span class="searchBtn"><i class="fa fa-times" aria-hidden="true"></i></span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ****** Top Header Area End ****** -->
    <!-- ****** Header Area Start ****** -->
    <header class="header_area">
        <div class="container">
            <div class="row">
                <!-- Logo Area Start -->
                <div class="col-12">
                    <div class="logo_area text-center">
                        <a href="/index" class="yummy-logo"><img style="height:50%; width:50%;" src="https://res.cloudinary.com/food-ng/image/upload/v1595208404/Static%20Images/fooddotng_lOGO_2_wfwien.jpg" /></a>
                    </div>
                </div>
            </div>
            @{
                var categories = _context.ArticleCategories.ToList();
                List<string> categoryPages = new List<string>();
                foreach (var category in categories)
                {
                    categoryPages.Add(category.Name);
                }
            }
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yummyfood-nav" aria-controls="yummyfood-nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                        <!-- Menu Area Start -->
                        <div class="collapse navbar-collapse justify-content-center" id="yummyfood-nav">
                            <ul class="navbar-nav" id="yummy-nav">
                                <li class="@(view == "/Index" || view == "" ? "nav-item active": "nav-item")">
                                    <a class="nav-link" href="/Index">Home</a>
                                </li>
                                <li class="@(view == "/Recipes" ? "nav-item active": "nav-item")">
                                    <a class="nav-link" href="/Recipes">Recipes</a>
                                </li>
                                <li class="@(view == "/ContentList"? "nav-item dropdown active": "nav-item dropdown")">
                                    <a class="nav-link dropdown-toggle" href="#" id="yummyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
                                    <div class="dropdown-menu" aria-labelledby="yummyDropdown">
                                        @{
                                            @foreach (var category in categories)
                                            {
                                                <a class="dropdown-item" href="/ContentList/?pageName=@category.Name">@category.Name</a>
                                            }
                                        }
                                    </div>
                                </li>
                                <li class="@(view == "/Events" ? "nav-item active": "nav-item")">
                                    <a class="nav-link" href="/Events">Events</a>
                                </li>
                                <li class="@(view == "/Contact" ? "nav-item active": "nav-item")">
                                    <a class="nav-link" href="/Contact">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ****** Header Area End ****** -->

    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- ****** Instagram Area Start ****** -->


    @*<div class="container">
        <div class="row">
            <div class="col-12">

                <div style=" position:relative; display:block; width: 100%">

                    <div class="footer-social-area d-flex">
                        <div class="single-icon">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i><span>facebook</span></a>
                        </div>
                        <div class="single-icon">
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span></a>
                        </div>

                        <div class="single-icon">
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i><span>Instagram</span></a>
                        </div>
                        <div class="single-icon">
                            <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i><span>YOUTUBE</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!-- ****** Footer Social Icon Area End ****** -->
    <!-- ****** Footer Menu Area Start ****** -->
<div style="padding-top:3em;"></div>
<hr />
<footer class="footer_area">
    <div class="mt-5 footer">

        <style>
            .textSize {
                font-size: 15px;
            }
            .Acolor {
                color: #51545f;
               
            }
                .Acolor:hover {
                    color: #fc6c3f;
                }
            .footer {
                background: white;
                color: #fc6c3f;
            }
          ul

            {
                list-style-type: none;
            }
        </style>

        <div class="container">
            <div class="row">
                <div  class="col-lg-5 col-xs-12 about-company">
                    <h4 style="color:#fc6c3f">Hey there!</h4>
                    <p class="pr-5 textSize">If you've made it this far, you probably like food a lot? or maybe you're just curious and you like what you see. Either ways, we 
                    Love food and are always talking about it so tell everyone you know about us!</p>
                </div>
                <div style="margin-bottom:1em;" class="col-lg-3 col-xs-12 links">
                    <h4 style="color:#fc6c3f" class="mt-lg-0 mt-sm-3">Links</h4>
                    <ul class="m-0 p-0">
                        <li>- <a class="Acolor" href="/Index">Home</a></li>
                        <li>- <a class="Acolor" href="/Recipes">Recipes</a></li>
                        <li>- <a class="Acolor" href="/Events">Events</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-xs-12 location">
                    <h4 style="color:#fc6c3f" class="mt-lg-0 mt-sm-4">Location</h4>
                    <p class="textSize">We're mostly everywhere for now.</p>
                    <p class="mb-0 textSize"><i class="fa fa-phone mr-3"></i>+2348155718975</p>
                    <p class="textSize"><i class="fa fa-envelope-o mr-3"></i>FoodDotNg@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    @*<div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="footer-content">
                         Logo Area Start
                        <div class="footer-logo-area text-center">
                            <a href="/index" class="yummy-logo"><img style="height:50%; width:50%;" src="images/fooddotng lOGO 2.jpg" /></a>
                        </div>
                         Menu Area Start
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yummyfood-footer-nav" aria-controls="yummyfood-footer-nav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
                             Menu Area Start
                            <div class="collapse navbar-collapse justify-content-center" id="yummyfood-footer-nav">
                                <ul class="navbar-nav">
                                    <li class="@(view == "/Index" || view == "" ? "nav-item active": "nav-item")">
                                        <a class="nav-link" href="/Index">Home</a>
                                    </li>
                                    <li class="@(view == "/Recipes" ? "nav-item active": "nav-item")">
                                        <a class="nav-link" href="/Recipes">Recipes</a>
                                    </li>
                                    <li  class="@(view == "/ContentList"? "nav-item dropdown active": "nav-item dropdown")">
                                        <a class="nav-link dropdown-toggle" href="#" id="yummyDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Articles</a>
                                        <div style="z-index:100;" class="dropdown-menu" aria-labelledby="yummyDropdown">
                                            @{
                                                @foreach (var category in categories)
                                                {
                                                    <a class="dropdown-item" href="/ContentList/?pageName=@category.Name">@category.Name</a>
                                                }
                                            }
                                        </div>
                                    </li>
                                    <li class="@(view == "/Events" ? "nav-item active": "nav-item")">
                                        <a class="nav-link" href="/Events">Events</a>
                                    </li>
                                    <li class="@(view == "/Contact" ? "nav-item active": "nav-item")">
                                        <a class="nav-link" href="/Contact">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>*@



    <div style="padding-top:2em;" class="container">
        <div class="row">
            <div class="col-12">
                <div class="copy_right_text text-center">
                    <p>FoodDotNg @@ @DateTime.UtcNow.Year. Made With <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://www.linkedin.com/in/ifeoluwa-onigbinde-b491b0169/" target="_blank">This Guy!</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
    <!-- ****** Footer Menu Area End ****** -->
    <!-- Jquery-2.2.4 js -->
    <script src="~/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap-4 js -->
    <script src="~/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="~/js/others/plugins.js" asp-append-version="true"></script>
    <!-- Active JS -->
    <script src="~/js/active.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
